/* src/index.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #050816;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  color: inherit;
}
